extends layout

block content
  h1= title
  p Wake up Samurai... It's #{title}
  input(type="button", class="btn btn-secondary" value="Press Me" onClick="doBump()")
  div(id="bump") Bump the count
  script.
    var count = 0;
    var bump = 1;
    function doBump() {
      count += bump;
      bump ++;
      document.getElementById("bump").innerHTML = `Count ${count} with bump ${bump}`;
    }
  a(href='/animals') goto search 